.accessories_container{
    height: 485px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    gap: 20px;

}
.acc1{
    height: 485px;
    width: 415px;
    border-radius: 28px;
    background-image: url(https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-40-accessories-202303?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1677648609013);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .5s ease-in-out;

}
.text_acc{
    margin:35px 0px 0px 25px;
    
}
.acc1:hover{
    
    transform: scale(1.02);
}
.acc2{
    height: 485px;
    width: 270px;
    border-radius: 28px;
    display: grid;
    place-items: center;
    place-content: center;
    background-color: white;
    transition: transform .5s ease-in-out;
}
.accImage{
    height: 260px;
    width: 200px;
    background-image: url(https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MQU73?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1676920930838);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.acc2:hover{
    transform: scale(1.02);
}

.acc3{
    height: 485px;
    width: 415px;
    border-radius: 28px;
    background-image: url(https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-40-accessories-seasonal-202303?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1677215699941);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .5s ease-in-out;
}
.text_acc3{
    margin:35px 0px 0px 25px;
    
}
.acc3:hover{
    transform: scale(1.02);
}