.offers h1{
    font-size:50px;
    text-align:center;
    word-spacing:2px;
    letter-spacing:3px;
  }
  .offers h1::first-letter{
    color:rgb(22,119,255);
  }
  .offers{
    margin-top: 30px;
  }