.store{
    height:800px;
    width:1600px;
    background-image:url("https://images.unsplash.com/photo-1631211541363-b79b94085c14?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;
  }
  .store_text{
    position:absolute;
    top:100px;
    left: 26%;
  }
  .store_text h1{
    color:white;
    font-size:110px;
    letter-spacing:3px;
  }
  .store_text h1::first-letter{
    color:rgb(22,119,255);
  }
  .store_text h4{
    text-align:center;
    color:rgb(22,119,255);
    font-size:30px;

  }